{% extends 'tasks/base.html' %}

{% block title %}
Task Details
{% endblock %}

{% block content %}

<h1>{{ task.title }}</h1>

<p>
    <strong>Description:</strong>
    {{ task.description }}
</p>

<p>
    <strong>Priority:</strong>
    {{ task.get_priority_display }}
</p>

<p>
    <strong>Status:</strong>

    {% if task.done %}
        ✅ Done
    {% else %}
        ⬜ Pending
    {% endif %}
</p>

<p>
    <strong>Created:</strong>
    {{ task.created_at }}
</p>

<br>

<a href="{% url 'task_list' %}">
    ← Back to tasks
</a>

{% endblock %}